# Virtual Environment
.venv/
venv/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Build
build/
dist/

# Exports
exports/

# Images (optional)
images/*.jpg
images/*.png